Makefile
*.lo
*.o
*.m4
build
*.la
parse.c
parse.h
scan.c
acirc.h
*.log
*.trs
test_circ
test_builder
test/circuits/test_builder.acirc
test_total_degree
test_mpz
TAGS
.dirstamp
vgcore.*
CMakeCache.txt
CMakeFiles/
*.cmake
*.so
