.deps
.libs
Makefile
Makefile.in
*.lo
*.o
*.m4
autom4te.cache
build
config.h
config.h.in
config.log
config.status
configure
*.la
libtool
parse.c
parse.h
scan.c
stamp-h1
acirc.h
*.log
*.trs
test/test_circ
test/test_builder
test/circuits/test_builder.acirc
test/test_total_degree
test/test_mpz
TAGS
.dirstamp
vgcore.*
